<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

    <title>黑灰网络子图资产分析</title>
    <script src="../static/jslib/echarts.min.js"></script>
    <script src="../static/jslib/jquery.min.js"></script>
    <script src="../static/jslib/bootstrap.min.js"></script>
    <script src="../static/jslib/bootstrap-slider.min.js"></script>
    <script src="../static/jslib/d3.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="content">
        <div id="content-left">
            <div id="data-info1-view">
                 数据集整体信息展示-节点
            </div>
            <div id="data-info2-view">
                <div id="xpanel-l-3">
<!--                 <div style="position:absolute;left:10px;top:10px;z-index: 1;color: black;font-weight:bold">-->
                    <p>子图缩略图</p>
                </div>
                <div id="xpanel-l-4">

                </div>
            </div>
            <div id="data-info3-view" style="position:relative">
                <div id="xpanel-l-5">
<!--                    <div style="position:absolute;left:10px;top:10px;z-index: 1;color: black;font-weight:bold">-->
                    <p>子图列表</p>
                    <div id="graphList" style="position:absolute;right:20px;top:10px;z-index: 1">
<!--                        <form method="POST" action="/data-info3-view" enctype="multipart/form-data">-->
                            <select name="graphTypes" id="graphTypes">
<!--                                <option value="Subgraph1-0">缩略图</option>-->
                                <option value="Subgraph1-1">子图1-1</option>
                                <option value="Subgraph1-2">子图1-2</option>
                                <option value="Subgraph1-3">子图1-3</option>
                                <option value="Subgraph1-4">子图1-4</option>
                                <option value="Subgraph1-5">子图1-5</option>
                                <option value="Subgraph1-1">子图2-1</option>
                                <option value="Subgraph1-2">子图2-2</option>
                                <option value="Subgraph1-3">子图2-3</option>
                                <option value="Subgraph1-4">子图2-4</option>
                                <option value="Subgraph1-5">子图2-5</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div id="xpanel-l-6">

                </div>

            </div>
        </div>
        <div id="content-middle">
            <div id="subgraph-view">
                 子图展示
            </div>
            <div id="subgraph-control-view">
                 子图挖掘参数输入、图例
            </div>
        </div>
        <div id="content-right">
            <div id="subgraph-info1-view">

                <div id="xpanel-r-1">
<!--                 <div style="position:absolute;left:10px;top:10px;z-index: 1;color: black;font-weight:bold">-->
                    <p>子图节点相关信息展示</p>
                </div>
                <div id="xpanel-r-2">

                </div>
            </div>
            <div id="subgraph-info2-view">
                 子图整体信息展示
            </div>
        </div>
    </div>

<script src="../static/js/data_info_view2.js"></script>
<script src="../static/js/data_info_view3.js"></script>
<script src="../static/js/subgraph-info1-view.js"></script>
<!--<script src="../static/js/controller.js"></script>-->
</body>
</html>
