<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑灰网络子图资产分析</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="content">
        <div id="content-left">
            <div id="data-info1-view">
                <input id="info1-text" type="text" name="" > <br />
                <select id="info1-select">
                    <option>ALL</option>
                    <option>Domain</option>
                    <option>IP</option>
                    <option>IP_C</option>
                    <option>ASN</option>
                    <option>Cert</option>
                    <option>Whois_Name</option>
                    <option>Whois_Phone</option>
                    <option>Whois_Email</option>
                </select>
                <div class="info1-div"></div>
            </div>
            <div id="data-info2-view">
                 数据集整体信息展示-边
            </div>
            <div id="data-info3-view">
                 子图列表
            </div>
        </div>
        <div id="content-middle">
            <div id="subgraph-view">
                 子图展示
                <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script>
<script>

    let graph1_text = document.getElementById('info1-text');
    let graph1_select = document.getElementById('info1-select');

    graph1_select.onclick = function(e){
        graph1_select.style.display = 'block';
    }

    var width = 600;
    var height = 600;
    var svg = d3.select("#subgraph-view")//相当于新建一个画布 select->索引
        .append("svg")//在这个画布上添加一个元素
        .attr("width",width)//这个元素的宽
        .attr("height",height);//这个元素的高
 
    var marge = {top:10,bottom:10,left:10,right:10}//中间区域main group
 
    var g = svg.append("g")
        .attr("transform","translate("+marge.top+","+marge.left+")",'id','maingroup');

 
    //根据python导出csv-》存成字典(节点id，节点类型，节点名称，业务类型)    
    //准备数据


    // d3.csv("1_False_100_0.25_links.csv",function(error,csvdata){  
  
    // if(error){  
    //     console.log(error);  
    // }  
    // console.log(csvdata);      
    // });


    var nodes = [//节点集
        {name:"Domain",group:2.5},
        {name:"Cert",group:2},
        {name:"IP",group:2},
        {name:"IP",group:2},
        {name:"Cert",group:2},
        {name:"IP",group:2},
        {name:"Domain",group:2},
        {name:"IP",group:2},
        {name:"IP",group:2},
        {name:"Domain",group:2},
        {name:"Whois_Name",group:1.5},
        {name:"Whois_Email",group:1.5},
        {name:"ASN",group:1.5},
        {name:"Whois_Phone",group:1.5},
        {name:"IP_C",group:1.5},
        {name:"Whois_Email",group:1},
        {name:"Whois_Phone",group:1},
        {name:"IP_C",group:1},
    ];

    var edges = [//边集
        {source:0,target:1,value:2},  //value控制线的长短（根据关联程度，关联程度强则更近）
        {source:0,target:2,value:2},
        {source:0,target:3,value:2},
        {source:0,target:4,value:2,relation:"r_dns_a"},
        {source:0,target:5,value:2,relation:"r_whois_email"},
        {source:0,target:6,value:2,relation:"r_whois_email"},
        {source:0,target:7,value:2,relation:"r_cname"},
        {source:0,target:8,value:2,relation:"r_cname"},
        {source:0,target:9,value:2,relation:"r_cidr"},
        {source:1,target:10,value:1.5,relation:"r_cidr"},
        {source:1,target:11,value:1.5,relation:"r_cidr"},
        {source:1,target:12,value:1.5,relation:"r_cname"},
        {source:1,target:13,value:1.5,relation:"r_cname"},
        {source:1,target:14,value:1.5,relation:"r_cidr"},
        {source:14,target:15,value:1,relation:"r_cidr"},
        {source:14,target:16,value:1,relation:"r_asn"},
        {source:14,target:17,value:1,relation:"r_whois_phone"},
    ];
   
    //设置一个color的颜色比例尺，为了让不同的扇形呈现不同的颜色
    var colorScale = d3.scaleOrdinal()
        .domain(d3.range(nodes.length))
        .range(d3.schemeCategory10);
 
 
    var forceSimulation = d3.forceSimulation()
        .force("link",d3.forceLink())
        .force("charge",d3.forceManyBody())//万有引力
        .force("center",d3.forceCenter());

    //生成节点数据
    forceSimulation.nodes(nodes)
        .on("tick",ticked)


    //生成边数据
    forceSimulation.force("link")
        .links(edges)
        .distance(function(d){//每一边的长度
            return d.value*100;
        })
    
    //设置图形的中心位置
    forceSimulation.force("center")
        .x(width/2)
        .y(height/2);

    //在浏览器的控制台输出
    console.log(nodes);
    console.log(edges);

    //绘制边
    var links = g.append("g")
        .selectAll("line")
        .data(edges)
        .enter()
        .append("line")
        .attr("stroke",function(d,i){
            return colorScale(d.value);   //边的颜色
        })
        .attr("stroke-width",1);
    

    //边上文字
    var linksText = g.append("g")
        .selectAll("text")
        .data(edges)
        .enter()
        .append("text")
        .text(function(d){
            return d.relation;
        })

    //建立用来放在每个节点和对应文字的分组<g>
    var gs = g.selectAll(".circleText")
        .data(nodes)
        .enter()
        .append("g")
        .attr("transform",function(d,i){
            var cirX = d.x;
            var cirY = d.y;
            return "translate("+cirX+","+cirY+")";
        })
        .call(d3.drag()
            .on("start",started)
            .on("drag",dragged)
            .on("end",ended)
        )

    
     //绘制节点
    gs.append("circle")
       // .attr("r",20)
        .attr("r",function (d,i) {    //圆圈半径
            return d.group*15;
        })
        .attr("fill",function(d,i){
            //return colorScale(i);
            return colorScale(d.group);
        })
        .on("click",function(d,i){
            d3.select(this).attr("fill","yellow");
            document.getElementById("nodeid").innerHTML=("id:whois_Name_d93c941eef173511e77515af6861025e9a2a52d597e27bf1825961c2690e66cd");
            document.getElementById("nodename").innerHTML=("name:Domxxxxxmin");
            document.getElementById("nodetype").innerHTML=("type:Whois_Name");
            document.getElementById("nodeindustry").innerHTML=("industry:['A']");
        })

//点击交互


    //文字
    gs.append("text")
        /*.attr("x",-10)
        .attr("y",-20)
        .attr("dy",10)*/
        .attr("x",-25)
        .attr("y",-5)
        .attr("dy",10)
        .text(function(d){
            return d.name;
        })


    function ticked(){
        links
            .attr("x1",function(d){return d.source.x;})
            .attr("y1",function(d){return d.source.y;})
            .attr("x2",function(d){return d.target.x;})
            .attr("y2",function(d){return d.target.y;});
 
        linksText
            .attr("x",function(d){
                return (d.source.x+d.target.x)/2;
            })
            .attr("y",function(d){
                return (d.source.y+d.target.y)/2;
            });
 
        gs
            .attr("transform",function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    }
    //drag
    function started(d){
        if(!d3.event.active){
            forceSimulation.alphaTarget(0.8).restart();//设置衰减系数，对节点位置移动过程的模拟，数值越高移动越快，数值范围[0，1]
        }
        d.fx = d.x;
        d.fy = d.y;
    }
    function dragged(d){
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }
    function ended(d){
        if(!d3.event.active){
            forceSimulation.alphaTarget(0);
        }
        d.fx = null;
        d.fy = null;
    }
</script>
            </div>
            <div id="subgraph-control-view">
                 子图挖掘参数输入、图例
            </div>
        </div>
        <div id="content-right">
            <div id="subgraph-info1-view">
                 子图节点相关信息展示
            </div>
            <div id="subgraph-info2-view">
                 子图整体信息展示
            </div>
        </div>
    </div>
</body>
</html>
