<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑灰网络子图资产分析</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div id="content">
        <div id="content-left">
            <div id="data-info1-view">
                 数据集整体信息展示-节点
            </div>
            <div id="data-info2-view">
                 数据集整体信息展示-边
            </div>
            <div id="data-info3-view">
                 子图列表
            </div>
        </div>
        <div id="content-middle">
            <div id="subgraph-view">
                 子图展示
            </div>
            <div id="subgraph-control-view">
                 子图挖掘参数输入、图例
            </div>
        </div>
        <div id="content-right">
            <div id="subgraph-info1-view">
                 子图节点相关信息展示
            </div>
            <div id="subgraph-info2-view">
                 子图整体信息展示
            </div>
        </div>
    </div>
</body>
</html>